*{
    margin: 0;
    padding: 0;
}


.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.3), rgba(4,9,30, 0.3)), url(priya.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    clip-path: polygon(100% 0%, 100% 70%, 50% 100%, 0 70%, 0 0);

    
}

nav{
    display: flex;
    padding: 2% 5%;
    justify-content: space-between;
    align-items: center;
}

nav img{
    width: 150px;

}
.nav-links{
    flex:1;
    text-align: right;
}

.nav-links ul li{
    list-style-type: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;

}

.nav-links ul li a{
    text-decoration: none;
    color: white;
    font-size: 13px;
}

.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    display: block;
    margin: auto;
    transition: 0.5s;
    background: #f44336;
}

.nav-links ul li:hover::after{
    width: 100%;
}

.text-box{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.text-box h1{
    font-size: 50px;
}

.text-box p{
    margin: 10px 0 40px;
    font-size: 14px;
    color: #fff;

}

.visit-btn{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    font-size: 13px;
    padding: 12px 34px;
    background: rgb(26, 24, 24);
    position: relative;
    cursor: pointer;
    border-radius: 10px ;
   
}

.visit-btn:hover{
    border: 1px solid rgb(0, 0, 0);
    background:transparent;
    transition: 1s;
}

.fa-solid {
    color: white;
   
}

nav .fa-solid{
    display: none;

}



@media(max-width: 700px){
  

    .text-box h1{
        font-size: 25px;
    }

    .nav-links ul li{
        display: block;
        align-items: center;

    }

    .nav-links{
        width: 200px;
        position: fixed;
        height: 100vh;
        top: 0;
        right: -250px;
        text-align: left;
        z-index: 2;
       background: black;
       transition: 1.5s;
        
    }

   

    nav .fa-solid{
        display: block;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }

  

}




/* ************************ course***************** */
.course{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

h1{
    font-size: 36px;
    font-weight: 300;
    

}
p{
    color: rgb(0, 0, 0);
    font-size: 14px;
    font-weight: 22px;
    padding: 10px;
    line-height: 22px;
}

.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-around;
}

.course-col
{
    flex-basis: 40%;
    background: #fff3f3;
    border-radius: 10px;
    margin-bottom: 5% ;
    margin: 10px 13px;
    padding: 20px 12px;
    box-sizing: border-box;
   

}
.course-col:hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.5);
    cursor: pointer;
    transform: translateY(-10px);
    transition: 0.5s;
}
h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}
@media(max-width: 800px){
    .row{
        flex-direction: column;
    }
}

/* ***************************** campus *****************/

.campus{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}

.campus-col{
    flex-basis: 30%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
}
.campus-col img{
    width:100%;
   

}

.layer{
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 00.5s;

}

.layer:hover{
    background: rgba(165, 96, 255, 0.7);


}

.layer h3{
    width: 100%;
    font-weight: 500;
    color: #fff;
    font-size: 26px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    opacity: 0;
    transition: 0.5s;
}
.layer:hover h3{
    bottom: 49%;
    opacity: 1;
}

/* **************facilities*************** */

.facilities{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

.faci-col{
    flex-basis: 31%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
}

.faci-col img{
    width: 100%;
    border-radius: 10px;
}

.faci-col p{
    padding:0;
    margin-bottom: 15px;
    text-align: left;
}


/* **************** Cta *************************** */
.cta{
    margin: 100px auto;
    width: 90%;
    background-image:linear-gradient(rgba(4,9,30,0.6), rgba(4,9,30, 0.6)), url(banner2.jpg); 
    background-position: cover;
    border-radius: 10px;
    text-align: center;
    text-align: center;
    padding: 100px 0; 
}


.cta h1{
    color: white;
    margin-bottom: 40px;
    padding: 0;
}


@media(max-width: 700px){
    .cta h1{
        font-size: 22px;
    }
}


/*************************** Footer***********************/

.sec-footer{
    width: 100%;
    text-align: center;
    padding: 30px 0;
}

.sec-footer h4{
 margin-bottom: 25px;
 margin-top: 20px;
 font-weight: 600;
}


.icons .fa-brands{
    
    margin: 0 13px;
    cursor: pointer;
    padding: 18px 0px;

}
.fa-heart{
    color: #ac0000;
}

.fa-1{
    color: blue;
}
.fa-2{
    color: rgb(102, 102, 255);
}
.fa-3{
    color: rgba(233, 0, 0, 0.644);
}

/* ************************* About Page*********************** */

.sub-header{
    height: 70vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.3), rgba(4,9,30, 0.3)), url(back2.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
    color: #fff;
    clip-path: polygon(100% 0%, 100% 70%, 50% 100%, 0 70%, 0 0);
}

.sub-header h1{
    color: white;
}

.about-us{
    width: 90%;
    margin: auto;
    padding-top: 80px;
    padding-bottom: 50px;
}

.about-col{
    flex-basis: 48%;
    padding: 30px 2px;

}

.about-col img{
    width: 100%;
    
}

.about-col img{
    padding: 0;

}

.about-col p{
    padding: 15px 0 25px;
}

.exbtn:hover{
    background: transparent;
    color: rgb(0, 0, 0);
    box-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
}

@media(max-width: 700px){
    .abouth1{
        margin-top: 100px;
        transition: 1s;

    }
}



/* **************************** Location******************************* */

.location{
    width: 100%;
    margin: auto;
    padding: 80px 0;
  text-align  : center;

}



iframe{
    width: 100%;
    
}

.contact-us{
    width: 80%;
    margin: auto;
}

.contact-col{
    flex-basis: 48%;
    margin-bottom: 30px;
}

.contact-col div{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.fa-contact{
    color: #f44336;
    font-size: 15px;
    margin-right: 30px;

}

.contact-col p{
    padding: 0;
}


.contact-col div h5{
    font-size: 20px;
    margin-bottom: 5px;
    color: #555;
    font-weight: 400;
}


.contact-col input, .contact-col textarea{
    width:100%;
    padding: 15px;
    margin-bottom: 17px;
    outline: none;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.contact-col label{
    font-size: 18px;
}